<h1>Artists</h1>
<hr />
<%= link_to "Create a new Artist", new_billboard_artist_path(@billboard) %>
<ul>
  <% @artists.each do |t| %>
    <li><%= link_to t.name, billboard_artist_path(@billboard, t) %></li>
  <% end %>
</ul>
<%= link_to "Back", root_path, class: "btn blue" %>