<h1>BILLBOARDS</h1>
<hr />
<%= link_to "Create a Billboard", new_billboard_path, class: "btn green"%>

<ul>
  <% @billboards.each do |s| %>
    <li><%= link_to s.name, billboard_path(s) %></li>
  <% end %>
</ul>